### To check functions supported by dataframe/series when tab doesn't work, do

pd.Series.<Tab\> <br>
pd.DataFrame.<Tab\>

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import re

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() 
#css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                           title  year
0              Wedding Rehearsal  1932
1              Anna, sestra Jany  1976
2              Lee Sangui nalgae  1968
3  Wimbledon: Official Film 2000  2000
4                    Hard to Get  2014

In [5]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [15]:
print (titles.title.unique().shape)
print (titles.title.shape)
print (titles.title.hasnans)

(223828,)
(244914,)
False

In [6]:
titles.title.describe()

count     244914
unique    223828
top       Hamlet
freq          20
Name: title, dtype: object

### What are the earliest two films listed in the titles dataframe?

In [20]:
titles.sort_values('year').head(2)

                     title  year
140902          Miss Jerry  1894
22918   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [18]:
print ((titles.title=='Hamlet').sum()) # pd.Series.sum() is default for summing over series of int/float/bool
# or
print (titles[titles.title=='Hamlet'].shape)

20
(20, 2)

### How many movies are titled "North by Northwest"?

In [19]:
(titles.title=='North by Northwest').sum()

1

### When was the first movie titled "Hamlet" made?

In [21]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

         title  year
175333  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
100161  Treasure Island  1918
55858   Treasure Island  1920
179301  Treasure Island  1934
35667   Treasure Island  1950
101131  Treasure Island  1972
163092  Treasure Island  1973
224515  Treasure Island  1985
76380   Treasure Island  1999

### How many movies were made in the year 1950?

In [23]:
(titles.year==1950).sum()

1113

### To check the data type of pandas series objects (coloumns) in dataframe -

In [24]:
titles.dtypes

title    object
year      int64
dtype: object

### How many movies were made in the year 1960?

In [25]:
(titles.year==1960).sum()

1549

### How many movies were made from 1950 through 1959?

In [71]:
((titles.year>=1950) & (titles.year<=1959)).sum()

12934

In [38]:
len(titles[(titles.year//10)==195])

12934

### In what years has a movie titled "Batman" been released?

In [20]:
titles[titles.title=='Batman'].year

94894     1943
141995    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [21]:
print (cast[cast.title=='Inception'].shape)
print (cast[cast.title=='Inception'].character.describe())
print ("\n\nunique roles: ", cast[cast.title=='Inception'].character.unique().shape)

(78, 6)
count                 78
unique                56
top       Bridge Sub Con
freq                   7
Name: character, dtype: object


unique roles:  (56,)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [26]:
print ((cast[cast.title=='Inception'].n).isnull().sum())

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
print ((cast[cast.title=='Inception'].n).notnull().sum())

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [28]:
north_by_northwest_df=cast[cast.title=='North by Northwest']

In [29]:
north_by_northwest_df[north_by_northwest_df.n.notnull()].sort_values('n',ascending=True)

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [34]:
cast_Sleuth=cast[cast.title=='Sleuth']
cast_Sleuth_1972=cast_Sleuth[cast_Sleuth.year==1972]
cast_Sleuth_1972.sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [35]:
cast_Sleuth=cast[cast.title=='Sleuth']
cast_Sleuth_2007=cast_Sleuth[cast_Sleuth.year==2007]
cast_Sleuth_2007.sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [58]:
cast_Hamlet=cast[cast.title=='Hamlet']
cast_Hamlet_1921=cast_Hamlet[cast_Hamlet.year==1921]
print(len(cast_Hamlet_1921.character))

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [57]:
cast_Hamlet=cast[cast.title=='Hamlet']
cast_Hamlet_1996=cast_Hamlet[cast_Hamlet.year==1996]
print(len(cast_Hamlet_1996.character))

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [62]:
cast[cast.title=='Hamlet'].character.describe()

count        342
unique       112
top       Hamlet
freq          18
Name: character, dtype: object

### How many people have played an "Ophelia"?

In [44]:
print (len(cast[cast.character=="Ophelia"].name.unique()))

115

### How many people have played a role called "The Dude"?

In [74]:
len(cast[cast.character=="The Dude"].name)

19

### How many people have played a role called "The Stranger"?

In [75]:
len(cast[cast.character=="The Stranger"].name)

212

### How many roles has Sidney Poitier played throughout his career?

In [89]:
cast_Sidney=cast[cast.name=='Sidney Poitier']
print (len(cast_Sidney.character))
print (len(cast_Sidney.character.unique()))

43
41

### How many roles has Judi Dench played?

In [90]:
cast_Sidney=cast[cast.name=='Judi Dench']
print (len(cast_Sidney.character))
print (len(cast_Sidney.character.unique()))

55
46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [135]:
cast_cary=cast[cast.name=='Cary Grant']
cast_cary_1940=cast_cary[(cast_cary.year>1939) & (cast_cary.year<1950)]
cast_cary_1940[cast_cary_1940.n==2]

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [136]:
cast_cary=cast[cast.name=='Cary Grant']
cast_cary_1940=cast_cary[(cast_cary.year>1939) & (cast_cary.year<1950)]
cast_cary_1940[cast_cary_1940.n==1]

,title,year,name,type,character,n
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0

### How many roles were available for actors in the 1950s?

In [140]:
cast_1950=cast[(cast.year>1949) & (cast.year<1960)]
len(cast_1950[cast_1950.type=='actor'])

157738

### How many roles were available for actresses in the 1950s?

In [143]:
cast_1950=cast[(cast.year>1949) & (cast.year<1960)]
len(cast_1950[cast_1950.type=='actress'])

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [147]:
cast_1990=cast[(cast.year<1990)]
len(cast_1990[cast_1990.n==1])

77288

### How many non-leading roles were available through from the beginning of film history through 1980?

In [149]:
cast_1990=cast[(cast.year<1990)]
len(cast_1990[cast_1990.n!=1])

1371086

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [155]:
cast_1990=cast[(cast.year<1990)]
cast_1990.n.isnull().sum()

496909

### Good-
To find coloumns which have string type. Same can be applied to int, float64 etc

In [32]:
for a in cast.columns:
    print (a)
# equivalent:
'''
for a in cast:
    print (a)
'''

title
year
name
type
character
n

'\nfor a in cast:\n    print (a)\n'

In [33]:
for a in cast.columns[cast.dtypes=='object']:
    print(a)
# equivalent:
'''
for a in cast:
    if (cast[a].dtypes=='object'):
        print (a)
'''

title
name
type
character

"\nfor a in cast:\n    if (cast[a].dtypes=='object'):\n        print (a)\n"

## To search string in entire dataframe-

In [36]:
mask = np.column_stack([cast[col].str.contains("Lord of the rings",flags=re.IGNORECASE) \
                        for col in cast.columns[cast.dtypes=='object']])

In [39]:
cast.shape

(3786176, 6)

In [42]:
mask.any(axis=1).shape

(3786176,)

In [43]:
cast.loc[mask.any(axis=1)]

,title,year,name,type,character,n
7295,The Lord of the Rings: The Fellowship of the Ring,2001,Gino Acevedo,actor,Ring Dwarf-lord,NaN
7296,The Lord of the Rings: The Return of the King,2003,Gino Acevedo,actor,Corsair of Umbar,NaN
42927,The Lord of the Rings: The Two Towers,2002,Bruce Allpress,actor,Aldor,2.0
71039,The Lord of the Rings: The Fellowship of the Ring,2001,Noel Appleby,actor,Everard Proudfoot,2.0
71040,The Lord of the Rings: The Return of the King,2003,Noel Appleby,actor,Everard Proudfoot,1.0
71215,The Lord of the Rings: The Fellowship of the Ring,2001,Matt Appleton,actor,Council Elf,NaN
71545,The Lord of the Rings,1978,Aesop Aquarian,actor,Character Actor,37.0
88515,The Lord of the Rings,1978,Albert Ash,actor,Character Actor,27.0
93057,The Lord of the Rings: The Fellowship of the Ring,2001,Sean Astin,actor,Sam,3.0
93058,The Lord of the Rings: The Return of the King,2003,Sean Astin,actor,Sam,3.0
93059,The Lord of the Rings: The Two Towers,2002,Sean Astin,actor,Sam,2.0
93120,The Lord of the Rings: The Return of the King,2003,David Aston,actor,Gondorian Soldier 3,4.0
108858,The Lord of the Rings: The Return of the King,2003,John Bach,actor,Madril,5.0
108859,The Lord of the Rings: The Two Towers,2002,John Bach,actor,Madril,4.0
120125,The Lord of the Rings: The Fellowship of the Ring,2001,Sala Baker,actor,Sauron,4.0
120126,The Lord of the Rings: The Return of the King,2003,Sala Baker,actor,Featured Orc,45.0
120127,The Lord of the Rings: The Two Towers,2002,Sala Baker,actor,Man Flesh Uruk,5.0
142443,The Lord of the Rings,1978,Stan Barrett,actor,Character Actor,39.0
146848,The Lord of the Rings: The Fellowship of the Ring,2001,Timothy Bartlett,actor,Hobbit,NaN
147926,The Lord of the Rings,1978,Billy Barty,actor,Character Actor,24.0
159047,The Lord of the Rings: The Fellowship of the Ring,2001,Sean Bean,actor,Boromir,5.0
159048,The Lord of the Rings: The Return of the King,2003,Sean Bean,actor,Boromir,6.0
159049,The Lord of the Rings: The Two Towers,2002,Sean Bean,actor,Boromir (extended edition),NaN
182914,The Lord of the Rings: The Fellowship of the Ring,2001,Jarl Benzon,actor,Last Alliance Elf,NaN
182915,The Lord of the Rings: The Return of the King,2003,Jarl Benzon,actor,Coronation Elf,NaN
182916,The Lord of the Rings: The Two Towers,2002,Jarl Benzon,actor,Elven Warrior,NaN
182917,The Lord of the Rings: The Two Towers,2002,Jarl Benzon,actor,Rohan Stable Boy,NaN
182918,The Lord of the Rings: The Fellowship of the Ring,2001,J?rn Benzon,actor,Lothlorien Elf,NaN
182919,The Lord of the Rings: The Return of the King,2003,J?rn Benzon,actor,Rivendell Elf,NaN
182920,The Lord of the Rings: The Two Towers,2002,J?rn Benzon,actor,Elven Warrior,NaN
...,...,...,...,...,...,...
2931862,The Lord of the Rings,1978,Ruth Gay,actress,Character Actor,55.0
2939560,The Lord of the Rings,1978,Harriet Gibson,actress,Character Actor,59.0
3001847,The Lord of the Rings: The Fellowship of the Ring,2001,Zo Hartley,actress,Kissing Hobbit,NaN
3001848,The Lord of the Rings: The Return of the King,2003,Zo Hartley,actress,Orc Helper,NaN
3002323,The Lord of the Rings: The Fellowship of the Ring,2001,Taea Hartwell,actress,Cute Hobbit Child,NaN
3060542,The Lord of the Rings: The Fellowship of the Ring,2001,Katie Jackson,actress,Cute Hobbit Child,46.0
3060543,The Lord of the Rings: The Return of the King,2003,Katie Jackson,actress,Featured Child,52.0
3060544,The Lord of the Rings: The Two Towers,2002,Katie Jackson,actress,Cute Rohan Refugee Child,41.0
3232113,The Lord of the Rings: The Two Towers,2002,Robyn Malcolm,actress,Morwen,20.0
3234519,The Lord of the Rings,1978,Patty Maloney,actress,Character Actor,28.0
3238918,The Lord of the Rings,1978,Jere Rae Mansfield,actress,Character Actor,29.0
3253463,The Lord of the Rings: The Fellowship of the Ring,2001,Marta (IV) Mart?,actress,Village Female Hobbit,NaN
3276981,The Lord of the Rings: The Fellowship of the Ring,2001,Sarah (II) McLeod,actress,Rosie Cotton,19.0
3276982,The Lord of the Rings: The Return of the King,2003,Sarah (II) McLeod,actress,Rosie Cotton,22.0
3277009,The Lord of the Rings: The Return of the King,2003,Maisy McLeod-Riera,actress,Baby Gamgee,23.0
3288580,The Lord of the Rings: The Fellowship of the Ring,2001,Liz Merton,actress,Hobbit Band Member,NaN
3313431,The Lord of the Rings: The Fellowship of the Ring,2001,Elizabeth Moody,actress,Lobelia (extended edition),NaN
3370166,The Lord of the Rings: The Fellowship of the Ring,2001,Kate O'Rourke,actress,Hero Orcs,NaN
3370167,The Lord of the Rings: The Fellowship of the Ring,2001,Kate O'Rourke,actress,Goblins,NaN
3370168,The Lord of the Rings: The Fellowship of the Ring,2001,Kate O'Rourke,actress,Uruks,NaN
3370169,The Lord of the Rings: The Fellowship of the Ring,2001,Kate O'Rourke,actress,Ringwraiths (extended edition),NaN
3383147,The Lord of the Rings: The Return of the King,2003,Miranda Otto,actress,Eowyn,28.0
3383148,The Lord of the Rings: The Two Towers,2002,Miranda Otto,actress,Eowyn,24.0
3584815,The Lord of the Rings: The Two Towers,2002,Dianne (V) Smith,actress,Rohan Woman,NaN
3646446,The Lord of the Rings: The Two Towers,2002,Olivia Tennet,actress,Freda,29.0
3677172,The Lord of the Rings: The Fellowship of the Ring,2001,Liv Tyler,actress,Arwen,29.0
3677173,The Lord of the Rings: The Return of the King,2003,Liv Tyler,actress,Arwen,38.0
3677174,The Lord of the Rings: The Two Towers,2002,Liv Tyler,actress,Arwen,31.0
3756723,The Lord of the Rings: The Two Towers,2002,Hannah Wood,actress,Rohan Woman in Cave,NaN
3771873,The Lord of the Rings: The Two Towers,2002,Kelley Kerr Young,actress,Rohan Refugee,NaN